body{
    background-color: #F2E4D8;
     color: #403732;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
a{
    color: #8C623E;
}
h1{
    font-family: fantasy;
}
nav > a:hover{
    background-color: beige;
}